{% extends 'base.html' %}
{% block contont %}
<div class="col-md-9">
<div class="blog-main">
    {% for article in article_list %}
        <a href="/zjh/details/{{ article.id }}/">
 <div class="heading-blog">
    {{ article.title }}
</div>
{#     <a href="singlepost.html">#}
{#    <img src="/static/assets/img/1.jpg" class="img-responsive img-rounded" />#}
{#         </a>#}
        </a>
{#        <div class="blog-info">#}
{#        {{ article.content_notice |safe }}#}
{#        </div>#}
    <div class="blog-info">
        <span class="label label-primary">Posted on {{ article.editor_time }}</span>
        <span class="label label-success">{{ article.category.name }}</span>
        <span class="label label-danger">{{ article.author }}</span>
        <span class="label label-info">
            <i class="fa fa-thumbs-up"></i>+ {{ article.like_num_int }}
    <i class="fa fa-thumbs-down"></i>-3
    </span>
</div>
{% endfor %}
<!--BLOG ONE END -->

<nav>
    <ul class="pagination">

    {% if p_index == 1 or total_page == 1 %}
    <li class="disabled" >
        <a href="###"><span aria-hidden="true">&lt;&lt;</span></a></li>
    {% else %}
        <li class="active">
               <a href="/zjh/list/{{ title }}/?page={{ p_index|add:-1 }}"><span aria-hidden="true">&lt;&lt;</span></a></li>
    {% endif %}
    {% for p in page_list %}
        {% if p == p_index %}
            <li class="disabled" ><a ><span >{{ p }}</span></a></li>
        {% else %}
        <li ><a href="/zjh/list/{{ title }}/?page={{ p }}"><span >{{ p }}</span></a></li>
        {% endif %}
    {% endfor %}
    {% if p_index == total_page or total_page == 1 %}
    <li class="disabled" >
        <a href="###"><span aria-hidden="true">&gt;&gt;</span></a></li>
    {% else %}
      <li class="active" >
        <a href="/zjh/list/{{ title }}?page={{ p_index|add:1 }}"><span aria-hidden="true">&gt;&gt;</span></a></li>
    {% endif %}
    </ul>
</nav>
 <!--PAGING  END -->
</div>
</div>
{% endblock contont %}
